.container {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 2px;
}

.container h3 {
    text-align: center;
}

.formulario-flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linha {
    display: flex;
    justify-content: space-evenly;
}

.coluna{
    display: flex;
    flex-direction: column;
}

.form-grupo {
    /* width: 50%; */
    
    margin: 10px;
}

.form-grupo input,
.form-grupo textarea {
    display: block;
    margin-top: 6px;
    border-radius: 3px;
}


.btn-enviar {
    background-color: #023373;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    width: 6vw;
    height: 5vh;
    cursor: pointer;
}

span {
    color: red;
}
