.gruda-topo {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
}

.container-menu {
  width: 100%;
  height: 8vw;
  margin: 0;
} 

.menu-grid {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  list-style: none;
}
